body {
    height: 100vh;
    width: 100vw;
    background-color:hsl(0, 0%, 8%);
    justify-content: center;
    display: flex;
    align-items: center;
    justify-items: center;
}


.container {
    height: 70vh;
    width: 20vw;
    background-color: hsl(0, 0%, 12%);
    color: white;
    border-radius: 10px;
}

.imageContainer {
    height:100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-top: 5vh;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.nameContainer{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    justify-items: center;
    color: white;
    margin-top: 7%;
}

.nameContainer h4 {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 25px;
}

.nameContainer h6 {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin-top: 5px;
    color: hsl(75, 94%, 57%);
}

.nameContainer p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    margin-top: 30px;
}

.socialLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 20vw;
}

button {
    display: flex;
    height: 50px;
    width: 80%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    padding: 15px 100px;
    white-space: nowrap;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    transition: 2s ease-in-out background-color;
}

button:active {
    background-color: hsl(75, 94%, 57%);
    transition: 0.1s ease-in-out background-color;
}

button p{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    width: 80%;
}

.attribution {
    margin-top: 20px;
}

@media (max-width: 768px) {

  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .container {
    height: 50vh;    
    width: 70vw;
    height: auto;
    border: none;
    padding: 20px 40px 20px 20px;
  }

  .imageContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  .nameContainer {
    text-align: center;
    margin-top: 10px;
  }

  .nameContainer h6 {
    font-size: 13px;
  }

  .socialLinksContainer {
    width: 100%;
    padding: 0 10px;
  }

  button {
    height: 40px;
    width: 100%;
    padding: 9px 17px;
  }

  button p {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}
